.wrapper{
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;

    align-items: flex-start;
}

/* aside, main{
    background-color: var(--gray-800);
    padding: 2rem;
    border-radius: 8px;
} */
